* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font1;
    src: url("/fonts/PressStart2P-Regular.ttf");
}

body {
    font-family: font1;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 42px;
}

.navbar a:hover {
    padding: 10px;
    background-color: #000;
    color: yellow;
    border: #000 solid 2px;
    border-radius: 10px;
}

.navbar a:active {
    color: red;
}

.welcome,
.profile {
    display: flex;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.welcome-heading {
    width: 100%;
}

.my-name {
    font-size: 100px;
    margin: 20px;
}

.my-name span {
    margin: 0 -0.3em 0 -0.3em;
}
.my-name span:nth-last-of-type(1) {
    animation: color-change1 3s linear infinite;
}
.my-name span:nth-last-of-type(2) {
    animation: color-change2 3s linear infinite;
}
.my-name span:nth-last-of-type(3) {
    animation: color-change3 3s linear infinite;
}
.my-name span:nth-last-of-type(4) {
    animation: color-change4 3s linear infinite;
}
.my-name span:nth-last-of-type(5) {
    animation: color-change5 3s linear infinite;
}
.my-name span:nth-last-of-type(6) {
    animation: color-change6 3s linear infinite;
}

@keyframes color-change1 {
    0% {
        color: red;
    }
    8% {
        color: orange;
    }
    16% {
        color: yellow;
    }
    32% {
        color: green;
    }
    40% {
        color: blue;
    }
    48% {
        color: purple;
    }
    56% {
        color: indigo;
    }
    64% {
        color: purple;
    }
    72% {
        color: blue;
    }
    80% {
        color: green;
    }
    88% {
        color: yellow;
    }
    100% {
        color: orange;
    }
}
@keyframes color-change2 {
    0% {
        color: orange;
    }
    8% {
        color: yellow;
    }
    16% {
        color: green;
    }
    32% {
        color: blue;
    }
    40% {
        color: purple;
    }
    48% {
        color: indigo;
    }
    56% {
        color: purple;
    }
    64% {
        color: blue;
    }
    72% {
        color: green;
    }
    80% {
        color: yellow;
    }
    88% {
        color: orange;
    }
    100% {
        color: red;
    }
}
@keyframes color-change3 {
    0% {
        color: yellow;
    }
    8% {
        color: green;
    }
    16% {
        color: blue;
    }
    32% {
        color: purple;
    }
    40% {
        color: indigo;
    }
    48% {
        color: purple;
    }
    56% {
        color: blue;
    }
    64% {
        color: green;
    }
    72% {
        color: yellow;
    }
    80% {
        color: orange;
    }
    88% {
        color: red;
    }
    100% {
        color: orange;
    }
}
@keyframes color-change4 {
    0% {
        color: green;
    }
    8% {
        color: blue;
    }
    16% {
        color: purple;
    }
    32% {
        color: indigo;
    }
    40% {
        color: purple;
    }
    48% {
        color: blue;
    }
    56% {
        color: green;
    }
    64% {
        color: yellow;
    }
    72% {
        color: orange;
    }
    80% {
        color: red;
    }
    88% {
        color: orange;
    }
    100% {
        color: yellow;
    }
}
@keyframes color-change4 {
    0% {
        color: blue;
    }
    8% {
        color: purple;
    }
    16% {
        color: indigo;
    }
    32% {
        color: purple;
    }
    40% {
        color: blue;
    }
    48% {
        color: green;
    }
    56% {
        color: yellow;
    }
    64% {
        color: orange;
    }
    72% {
        color: red;
    }
    80% {
        color: orange;
    }
    88% {
        color: yellow;
    }
    100% {
        color: green;
    }
}
@keyframes color-change5 {
    0% {
        color: purple;
    }
    8% {
        color: indigo;
    }
    16% {
        color: purple;
    }
    32% {
        color: blue;
    }
    40% {
        color: green;
    }
    48% {
        color: yellow;
    }
    56% {
        color: orange;
    }
    64% {
        color: red;
    }
    72% {
        color: orange;
    }
    80% {
        color: yellow;
    }
    88% {
        color: green;
    }
    100% {
        color: blue;
    }
}
@keyframes color-change6 {
    0% {
        color: indigo;
    }
    8% {
        color: purple;
    }
    16% {
        color: blue;
    }
    32% {
        color: green;
    }
    40% {
        color: yellow;
    }
    48% {
        color: orange;
    }
    56% {
        color: red;
    }
    64% {
        color: orange;
    }
    72% {
        color: yellow;
    }
    80% {
        color: green;
    }
    88% {
        color: blue;
    }
    100% {
        color: purple;
    }
}

@media screen and (max-width: 1300px) {
    .navbar a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 3vw;
    }

    .navbar a:hover {
        padding: 2px;
        border-radius: 10px;
        padding: 10px;
    }

    .navbar a:active {
        padding: 2px;
        border-radius: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 809px) {
    .navbar {
        margin-top: 20px;
        z-index: 1;
        width: 100vw;
        height: 200px;
        top: 0;
        left: 0;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 5vw;
    }

    .my-name {
        font-size: 10vw;
        margin: 20px;
    }

    .welcome-heading {
        width: 100%;
        font-size: 5vw;
        text-align: center;
    }
}
